<%- include("partials/header.ejs") %> <%- include("partials/top_nav.ejs") %>

<main class="container">
  <div class="front-wallpaper">
    <h1 style="text-align: center; margin-top: 30px">
      Welcome to <%= title %>
    </h1>
  </div>

  <h2 style="text-align: center; margin-top: 30px">Our products</h2>

  <div class="flex-box">
    <% products.forEach(product => { %>
    <div class="product-div">
      <div class="img"></div>
      <div class="des">
        <span class="product-name" id="<%= product.PRODUCT_ID %>">
          <%= product[1] %>
        </span>
        <br />
        <span class="product-price">Price: <%= product[2] %> CAD</span>
      </div>
    </div>
    <% }); %>
  </div>
</main>

<%- include("partials/bottom_nav.ejs") %> <%- include("partials/footer.ejs") %>
